Package: com.sassoty.pulltorespring
Name: PullToRespring
Depends: mobilesubstrate
Version: 1.2
Architecture: iphoneos-arm
Description: Pull down in Settings to respring
Maintainer: Noah Saso <noahsaso@gmail.com>
Author: Noah Saso <noahsaso@gmail.com>
Section: Tweaks
Depiction: http://repo.noahsaso.com/deps.php?pkg=com.sassoty.pulltorespring
