Package: com.sassoty.pulltorespring
Name: PullToRespring
Depends: mobilesubstrate
Version: 0.0.1
Architecture: iphoneos-arm
Description: Pull down in Settings to respring
Maintainer: Sassoty <sassoty@gmail.com>
Author: Sassoty <sassoty@gmail.com>
Section: Tweaks
Depiction: http://repo.sassoty.com/deps.php?pkg=com.sassoty.pulltorespring
