<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>entry</key>
	<dict>
		<key>cell</key>
		<string>PSSwitchCell</string>
		<key>default</key>
		<true/>
		<key>defaults</key>
		<string>com.sassoty.pulltorespring</string>
		<key>icon</key>
		<string>PullToRespring.png</string>
		<key>key</key>
		<string>enabled</string>
		<key>label</key>
		<string>PullToRespring</string>
		<key>PostNotification</key>
		<string>com.sassoty.pulltorespring.prefschanged</string>
	</dict>
</dict>
</plist>
